:root {
    --main-bg-color: #ffffff;
    --particle-shadow-background-color: rgba(0, 0, 0, 1);
    --border-bottom-color: #000000;
    --white-color: #ffffff;
    --black-color: #000000;
    --a-visiting-color: #808080; 
    --blok-color: #adff2f; 
    --h2-background-color: rgba(42, 42, 42, 0.65);
    --h2-border-color: rgba(255, 255, 255, 0.6);
    --confetti-background-color: #2A2A2A;
    --border-back-color: #d3d3d3;
    --stroke-color: #000000;

    --halloween-bg-color: #333; /* Dark background for Halloween */
    --halloween-text-color: #f5f0e1; /* Light text color */
    --halloween-accent-color: #ff8c00; /* Orange accent color */
    --halloween-border-color: #ffffff; /* Orange-red for borders */
    --halloween-link-color: #ffa500; /* Lighter orange for links */
    --halloween-white-color: #333;;
    --halloween-black-color: #ffa500;

    --padding-standard: 1.25em;
    --sub-padding: 0.625em;
    --margin-standard: 1.25em;
    --margin-bottom-standard: 0.625em;
    --font-size-standard: 1em;
    --border-radius-small: 0.2em;
    --input-height: 2.5em;
}

.halloween-mode {
    --main-bg-color: var(--halloween-bg-color);
    --white-color: var(--halloween-text-color);
    --black-color: #ffffff; /* Invert black for Halloween */
    --shop-background-color: var(--halloween-accent-color);
    --h2-background-color: rgba(0, 0, 0, 0.5); /* Darker h2 background */
    --h2-border-color: var(--halloween-border-color);
    --a-visiting-color: var(--halloween-link-color); /* Change visited links */
    --border-bottom-color: #ffffff; 
    --border-back-color: #000000;
    --stroke-color: #ffffff;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-bg-color);
}

header {
    top: 0;
    background-color: var(--main-bg-color);
    padding: 0.9375em;
    z-index: 1000;
    border-bottom: 1px solid var(--border-bottom-color);
}

header,
nav,
section,
article,
footer {
    padding: var(--padding-standard);
    margin: 0 auto;
}

header img {
    float: left;
    max-height: 2.5em;
}

header a {
    display: flex;
}

ul {
    list-style: none;
    padding: 0.60em;
    font-size: 1.20em;  
}

nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
    color: var(--white-color);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-bg-color);
    padding: var(--sub-padding) 0;
    box-shadow: 0 0.3125em 0.625em var(--particle-shadow-background-color);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
    padding: var(--sub-padding) var(--padding-standard);
}


nav button {
    display: none;
    float: right;
    font-size: 1.5em;
    padding: 0.3125em;
    cursor: pointer;
}


nav {
    float: none;
    text-align: center;
}

nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav button {
    display: inline-block;
}

nav[aria-expanded="true"] ul {
    display: block;
}


li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 1em;
    color: var(--black-color);

}

article {
    text-align: center;
    padding: var(--padding-standard);
    position: relative;
}

article img {
    max-width: 100%;
    margin-bottom: 0.3125em;

}

input {
    height: 2.5em;
    width: 100%;
    border: 0.20em solid black;
    margin: 1em auto;
    /* display inline-block heb ik van: stackoverflow.com */
    display: inline-block;

}


h1 {
    margin: var(--margin-standard);  
    color: var(--black-color);
  }

h2 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0.4em;
    left: 0;
    right: 0;
    margin: 1em;
    transform: translateX(-0);
    background-color: var(--h2-background-color);
    padding: var(--padding-standard) ;
    color: white;
    font-size: 1.25em;
    border: 0.125em solid var(--h2-border-color);
}

p,
h3,
h4,
h5 {
    color: var(--black-color);
}

a {
    text-decoration: none;
    color: var(--a-visiting-color);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: grey;
}

footer {
    color: var(--white-color);
    text-align: center;
    padding: var(--padding-standard) 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* footer section heb heeft Danny mij uitgelegt en laten zien hoe ik dit zou kunnen anpakken en toe kan passen aan mijn website     */
footer section:nth-of-type(1) ul {
    border-bottom: 0.0625em solid var(--border-bottom-color);   
}

footer section:nth-of-type(2) ul {
    border-bottom: 0.0625em solid var(--border-bottom-color);
    display: flex;
    margin: 1em;
    filter: none;
}

.halloween-mode footer section:nth-of-type(2) ul{
    filter: invert(1) brightness(2) grayscale(1); /* Turns icons white */
}

footer section:nth-of-type(3) ul {
    border-bottom: 0.0625em solid var(--border-bottom-color);   
}

footer section:nth-of-type(4) ul {
    border-bottom: 0.0625em solid var(--border-bottom-color);
}

footer h3 {
    display: flex;
    justify-content: start;
    margin: 0;
}

footer a {
    color: var(--a-visiting-color);
}

aside a:nth-of-type(1) img {
    width: 6.25em;
    height: 1.375em;
    filter: none;
}

.halloween-mode aside a:nth-of-type(1) img {
    filter: invert(1) brightness(2) grayscale(1); /* Turns icons white */
}


aside a:nth-of-type(1) {
    margin: 0 auto;
}


/* bron: chat gpt : https://chatgpt.com/c/2feceae3-6dd6-4cf3-8ba3-0d833a3b333d */
/* Styling for each particle */
.particle {
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    background-color: var(--particle-shadow-background-color); /* Light gray particle */
    border-radius: 50%; /* Make the particle a circle */
    pointer-events: none; /* Prevent particles from being interactive */
    animation: fadeOut 1.2s forwards; /* Fade out animation */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}


.hi {
    position: sticky;
    width: 100%;
}


.girl {
    width: 100%;
    margin: 0;
}

.connect {
    background-color: var(--main-bg-color);

}

.zumielogo {
    position: sticky;
    margin-right: auto;
}

.block {
    background-color: #adff2f;
}

.hidden {
    display: none;
}

.info-sections {
    display: flex;
    justify-content: space-between;
    padding: 2.5em;
    background-color: #f8f8f8;
}

.info-sections section {
    flex: 1;
    margin-right: 1.25em;
}

.info-sections section:last-child {
    margin-right: 0;
}

.info-sections h2 {
    font-size: 1.5em;
    margin-bottom: 1.25em;
    color: #333;
}

.info-sections ul {
    list-style-type: none;
}

.info-sections ul li {
    margin-bottom: var(--margin-bottom-standard);
}

.info-sections ul li a {
    text-decoration: none;
    color: #555;
    font-size: 1em;
}

.info-sections ul li a:hover {
    text-decoration: underline;
    color: var(--black-color);
}

.plus a {
    display: flex;
    justify-content: flex-start;
}

.plus img {
    justify-content: flex-end;
    width: 2em;
    height: 1.5em;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0.625em;
}

#product-grid {
    display: grid;
}

aside {
    display: flex;
    align-items: center;
}

form {
    border: 0.0625em solid #ddd;
    padding: var(--sub-padding);
    max-width: 25em;
    margin: var(--margin-standard) auto;
    background-color: #f9f9f9;
}

fieldset {
    border: 0.0625em solid #ccc;
    padding: var(--sub-padding);
    margin-bottom: var(--margin-bottom-standard);
}

legend {
    font-weight: bold;
    padding: 0 0.3125em;
}

Style the labels
label {
    display: block;
    margin-bottom: 0.3125em;
}

section#product-grid {
    display: grid;
    grid-template: repeat(5, auto) / 50% 50%;
    gap: 1.25em;
    padding: 2.5em;
}

/* bron: chat gpt : https://chatgpt.com/c/2feceae3-6dd6-4cf3-8ba3-0d833a3b333d */
/* Style the select dropdowns */
select {
    width: 100%;
    padding: 0.3125em;
    border: 0.0625em solid #ccc;
    margin-bottom: var(--margin-bottom-standard);
    border-radius: 0.25em;
    background-color: var(--main-bg-color);
    color: var(--black-color);
}

/* Style the sort icon button */
button[aria-label="Toggle Sort Direction"] {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0.3125em;
    vertical-align: middle;
    transition: transform 0.3s ease;
}


button[aria-pressed="true"] svg {
    transform: rotate(180deg);
    stroke: #f5a623;
}

.toggle-halloween-mode {
    margin: 1em;
    padding: 0.50em;
    color: var(--black-color);
    background-color: var(--border-back-color);
}

.favorite-star svg {
    fill: none;
    stroke: var(--stroke-color);
    stroke-width: 0.625em;
    transition: all 250ms ease;
}

.grid-try {
    display: inline-grid;
    grid-template-columns: auto auto auto;

}
/* Deze stuk koden heb ik van de website w3schools.com : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_signup_form */
.confetti-button {
    background-color: #2A2A2A; /*bron zumiez website*/
    color: var(--white-color);
    padding: 0.875em var(--padding-standard);
    margin: 0.5em 0;
    border: none;
    width: 100%;
    opacity: 0.9;
}

.confetti-button:hover {
    opacity: 1;
}

.confetti-button .animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button .animate::after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

/* bron: chat gpt : https://chatgpt.com/c/2feceae3-6dd6-4cf3-8ba3-0d833a3b333d */
@keyframes 
topBubbles {  0% {
 background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
    100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
   }

   @keyframes 
bottomBubbles {  0% {
 background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
}
 50% {
 background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
}
 100% {
 background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}

.shop {
    background-color: #04AA6D;
    color: var(--white-color);
    padding: 0.875em var(--padding-standard);
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.shop:hover {
    opacity: 1;
}

.grid-try img {
    width: 100%;
    height: auto;
}
.grid-try button {
    position: absolute;
    top: 0%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 1em;
    padding: 0.75em 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 0.3125em;
} 
